<div class="container">
    <div class="row">
        <div class="carousel-wrapper">
            <button class="carousel-btn prev" (click)="prevSlide()">‹</button>
            <div class="carousel-container">
                <div class="carousel-track" #track>
                    <div class="col" *ngFor="let ficha of Fichas">
                        <div class="circle" data-toggle="tooltip" data-placement="right" [title]="ficha.name">
                            <img [src]="(ficha.image || '') | recordImage:fichaGroup" class="img-thumbnail circle" appNotImage>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-btn next" (click)="nextSlide()">›</button>
        </div>    
    </div>
</div>