<!-- <div class="col col-2"></div>
<div class="col">
    <div class="carton">
        <div class="col">
            <div class="caja">
                <img [src]="carton.desc_pos01 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos06 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos11 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos16 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]=" carton.desc_pos21 | imagen:color " class="img-thumbnail">
            </div>
        </div>
        <div class="col">
            <div class="caja">

                <img [src]="carton.desc_pos02 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">

                <img [src]="carton.desc_pos07 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos12 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos17 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos22 | imagen:color" class="img-thumbnail">
            </div>
        </div>
        <div class="col">
            <div class="caja">
                <img [src]="carton.desc_pos03 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos08 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos13 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos18 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos23 | imagen:color" class="img-thumbnail">
            </div>
        </div>
        <div class="col">
            <div class="caja">
                <img [src]="carton.desc_pos04 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos09 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos14 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos19 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos24 | imagen:color" class="img-thumbnail">
            </div>
        </div>
        <div class="col">
            <div class="caja">
                <img [src]="carton.desc_pos05 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos10 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos15 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos20 | imagen:color" class="img-thumbnail">
            </div>
            <div class="caja">
                <img [src]="carton.desc_pos25 | imagen:color" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>
<div class="col col-2"></div> -->
<!-- </div> -->