.raffle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    border: #ba9643 solid;
    /* height: 600px; */
    /* set the container height */
}

.left,
.right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 20%;
    /* border: tomato solid 2px; */
    /* set the width for left and right divs */
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 80%;
    /* border: blueviolet solid 2px; */
    align-content: center;
    /* set the width for center div */
}

.left {
    position: 1;
}

.center .top,
.center .main,
.center .bottom {
    display: flex;
    justify-content: start;
    /* border: yellowgreen solid 2px; */
    position: 2;
    /* evenly distribute the height for top and bottom divs */
}

.center .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 33%;
    /* border: yellowgreen solid 2px; */
}

.card:focus {
    font-weight: bold;
    background: #ba9643;
    color: #fff!important;
    /* border-color: transparent; */
    border: 5px solid greenyellow;
    border-radius: 5px;
    /*   outline: 1px dashed #00BCD4; */
}

.card:checked {
    font-weight: bold;
    background: #ba9643;
    /* color: #fff!important;  */
    /* border-color: transparent; */
    border: 5px solid greenyellow;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    /* border-radius: 5px; */
    /*   outline: 1px dashed #00BCD4; */
}

.card:active {
    border: 5px solid greenyellow;
    zoom: 1;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.card:visited {
    border: 5px solid greenyellow;
    zoom: 1;
    color: pink;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border: 5px solid greenyellow;
}

.lineas {
    border-radius: 20px;
    min-width: 250px;
    /* min-height: 60px; */
    /* border: aqua solid 2 px; */
    /* background-color: aquamarine; */
}

.formulario {
    /*display: grid;
     grid-auto-flow: column; 
    grid-template-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2px;
    justify-content: space-between;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 120px;
    flex-wrap: wrap;
    row-gap: 2px;
}

.formularo>div {
    min-width: 33%;
}

.imag {
    width: 100px;
    height: 100px;
}

.card-img-top {
    align-items: center;
}

.input-group-text {
    min-width: 100px;
}