<div *ngFor="let carton of cartones">
    <!-- <div class="row mt-4"> -->
    <!-- <div class="records"> -->
    <!-- <div class="row mt-1">
            <div class="col col-md-12 cartones-container"> -->
    <app-cartones [carton]="carton"></app-cartones>
    <!-- </div>-->
    <!-- <div class="p lorem20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, veniam!</div>
        <div class="p lorem20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, veniam!</div>
        <div class="p lorem20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, veniam!</div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div>  -->

</div>