/* .cartones-container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    flex-direction: row;
    justify-content: space-between;
    background: blue;
} */


/* .records {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: aquamarine;
} */