<!-- <p>cartones works!</p> -->

<div class="carton">
    <div class="col">
        <div class="caja" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos01 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos06 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos11 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos16 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]=" carton.desc_pos21 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
    </div>
    <div class="col">
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos02 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos07 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos12 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos17 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos22 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
    </div>
    <div class="col">
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos03 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos08 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos13 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos18 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos23 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
    </div>
    <div class="col">
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos04 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos09 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos14 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos19 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos24 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
    </div>
    <div class="col">
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos05 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos10 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos15 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos20 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
        <div class="caja tooltipp" data-toggle="tooltip" data-placement="right" [title]="carton.name">
            <img [src]="carton.desc_pos25 | imagen:recordGroup" class="img-thumbnail" appNotImage>
        </div>
    </div>
</div>