<!-- <p>moves works!</p>
<div class="m-5">

    <h1>Salir de la aplicación </h1>
    <button class="btn btn-outline-danger" (click)="salir()"> Salir</button>


</div> -->
<!-- <div style="display:flex">
    <iframe style="width: 20%; border: none;"> <app-publicity></app-publicity></iframe>
    <div style="display:flex; flex-direction: column; width: 60%;">
        <iframe src="center1.html" style="flex: 1; border: none;"></iframe>
        <iframe src="center2.html" style="flex: 1; border: none;"></iframe>
    </div>
    <iframe src="right.html" style="width: 20%; border: none;"></iframe>
</div> -->


<div class="container">
    <div class="left">
        <app-publicity></app-publicity>
    </div>
    <div class="center">
        <div class="top"> top
            <div class="tooltipp top">Posa el ratón encima de mi
                <span class="tiptext">Texto del tooltip</span>
            </div>
            hola
        </div>
        <div class="bottom">bottom</div>
    </div>
    <div class="right">right</div>
</div>