<div class="carton-card" 
     [class.clickable]="clickable"
     (click)="onCartonClick()">
    
    <div class="carton-header">
        <h5 class="carton-title">Cartón {{ carton.id }}</h5>
        <span class="carton-counter">
            {{ contarMarcadas() }} / 25
        </span>
    </div>
    
    <div class="carton-grid">
        <!-- ⭐ Recorremos todas las posiciones -->
        <div class="carton-cell" *ngFor="let pos of posiciones">
            <div class="carton-item" 
                 [class.marked]="estaMarcada(pos)"
                 [title]="carton.name"
                 (click)="toggleMarca(pos, $event)">
                <img [src]="getValorPosicion(pos) | imagen:recordGroup" 
                     class="carton-image" 
                     appNotImage>
            </div>
        </div>
    </div>
</div>