<!-- <h4>slideshow works!</h4> -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" *ngFor="let carton of cartones">
            <div class="row">
                <div class="col">
                    <p>Selecciona los cartones para jugar</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-6"></div>
                <div class="col">
                    <p>N° carton: {{carton.id}}</p>
                    <div class="carton">
                        <div class="col">
                            <div class="caja">
                                <img [src]="carton.desc_pos01 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos06 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos11 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos16 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]=" carton.desc_pos21 | imagen:color " class="img-thumbnail">
                            </div>
                        </div>
                        <div class="col">
                            <div class="caja">
                                <img [src]="carton.desc_pos02 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos07 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos12 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos17 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos22 | imagen:color" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="col">
                            <div class="caja">
                                <img [src]="carton.desc_pos03 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos08 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos13 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos18 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos23 | imagen:color" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="col">
                            <div class="caja">
                                <img [src]="carton.desc_pos04 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos09 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos14 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos19 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos24 | imagen:color" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="col">
                            <div class="caja">
                                <img [src]="carton.desc_pos05 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos10 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos15 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos20 | imagen:color" class="img-thumbnail">
                            </div>
                            <div class="caja">
                                <img [src]="carton.desc_pos25 | imagen:color" class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-2"></div>
            </div>
            <div class="row mt-2">
                <div class="col-md-4 mb-6"></div>
                <div class="d-grid gap-2 col-md-2  mx-auto ">
                    <button type="button" class="btn btn-primary btn-lg">Seleccionar</button>
                </div>
                <div class="col-md-6"> </div>

            </div>
        </div>
        <!-- If we need pagination -->
        <!-- <div class="swiper-pagination "></div> -->

        <!-- If we need navigation buttons -->
        <div (click)="onSlidePrev" class="swiper-button-prev "></div>
        <div (click)="onSlideNext" class="swiper-button-next "></div>

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar "></div> -->
    </div>