<form autocomplete="off" [formGroup]="forma">

    <div class="row">
        <!-- <pre>{{grupos}}</pre> -->
        <div class="form-group row">
            <label class="col-1 col-form-label">Grupo</label>
            <div class="col-2">
                <select formControlName="grupo" class="form-select form-select-font-size-1" name="grupo" (change)=onChangeGrupo()>
                <option [ngValue]="null" disabled>Selecciona...</option>
                <option  *ngFor="let item of grupos" [ngValue]="item.id">{{item.name}}</option>
            </select>
                <small *ngIf="grupoNoValido" class="text-danger"></small>
            </div>
            <div class="col-8"></div>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-4 mb-6" *ngFor="let carton of cartones">
        <div class="row mt-3">
            <div class="col col-3"></div>
            <div class="col">

                <div class="carton">
                    <div class="col">
                        <div class="caja">
                            <img [src]="carton.desc_pos01 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos06 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos11 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos16 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]=" carton.desc_pos21 | imagen:color" class="img-thumbnail">
                        </div>
                    </div>
                    <div class="col">
                        <div class="caja">
                            <img [src]="carton.desc_pos02 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos07 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos12 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos17 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos22 | imagen:color" class="img-thumbnail">
                        </div>
                    </div>
                    <div class="col">
                        <div class="caja">
                            <img [src]="carton.desc_pos03 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos08 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos13 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos18 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos23 | imagen:color" class="img-thumbnail">
                        </div>
                    </div>
                    <div class="col">
                        <div class="caja">
                            <img [src]="carton.desc_pos04 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos09 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos14 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos19 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos24 | imagen:color" class="img-thumbnail">
                        </div>
                    </div>
                    <div class="col">
                        <div class="caja">
                            <img [src]="carton.desc_pos05 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos10 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos15 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos20 | imagen:color" class="img-thumbnail">
                        </div>
                        <div class="caja">
                            <img [src]="carton.desc_pos25 | imagen:color" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-2"></div>
        </div>
        <div class="row mt-2">
            <div class="col-3"></div>
            <div class="d-grid gap-2 col-5 mx-auto center">
                N° carton: {{carton.id}} <button type="button" (click)=putCard(carton.id) class="btn btn-primary btn-lg">Seleccionar</button>
            </div>
            <div class="col-4">

            </div>

        </div>
    </div>
</div>