.cartones-container {
    color: antiquewhite !important;
    justify-content: start !important;
}

.circle-sm {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.botton-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: antiquewhite !important;
}